*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins',sans-serif;

}

.registration-block{
    background-color: #333333;
    max-width: 800px;
    margin: auto;
}

.registration{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    max-width: 800px;


}
.form{
    background-color: rgb(240, 192, 247);
    width: 100%;
    border-radius: 5px;
}
.full_name{
    /* border: 2px solid black; */
    border: 0px;
    /* border-radius: 5px; */
    background-color: rgb(240, 192, 247);
    padding: 10px 0px;
    width: 100%;
    
}
label{
    margin-left: 5px;
    display: block;
    /* background-color:  rgb(240, 192, 247); */
    text-align: left;
    color: white;
    width: 100%;  
    margin-top: 10px;  
}
.submit-btn{
    display: block;
    border-width: 0;
    border-radius: 30px;
    text-align: center;
    /* font-family: 'Poppins',sans-serif; */
    background-color: #a1e00c;
    padding: 10px 30px;
    margin: 0 auto;

}